@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100&display=swap');

.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


::-webkit-scrollbar {
  display: none;
}